<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NEWS_API_KEY_2</key>
	<string>5d50a413e0b544ee99f6c97adea92e80</string>
	<key>NEWS_API_KEY_1</key>
	<string>15699190f7eb48d7823cacf951f5f49f</string>
</dict>
</plist>
