<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhVYfTXOgJ9LmZUT4qnd3c6K_F4g_nPCA</string>
	<key>GCM_SENDER_ID</key>
	<string>805644467744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batuhanberkertekin.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-6a81a</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-6a81a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805644467744:ios:f24d1a580c16cabf070645</string>
</dict>
</plist>